:root {
    --brand-primary-first: #164863;
    --brand-primary-second:#427D9D;
    --brand-primary-third:#9BBEC8;
    --brand-primary-light:#DDF2FD;
    --brand-secondary: #FF6F61;
    --text-color:#FFFFFF;
    --text-success:#399918;
    --text-error:#FF4C4C;
   
  }